* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal-wrapper .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30%;
    width: 60%;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1050;
    padding: 0 40px;
    border-radius: 5px;

    .wrap-header-close-modal {
        position: absolute;
        top: 0;
        right: 8px;
        cursor: pointer;
        z-index: 1060;
        .close {
            display: block;
            span {
                font-size: 16px;
            }
        }
    }
}

