.style-layout-content {
    position: relative;
    padding: 24px;
    margin: 0;
    min-height: 280px;
    background-color: #fff;
    z-index: 1060;
    .wrap-content-header {
        display: block;
        height: 36px;
    }
}

#modal-root {
    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        width: 100%;
    }
}

$header-action-btnsize: 36px;

.wrap-messages {
    display: flex;
    width: 100%;
    height: auto;
    .wrap-message-list {
        width: 300px;
        top: 20px;
        left: 0;
        bottom: 0;
        padding-left: 10px;
        .message-item {
            position: relative;
            display: flex;
            height: 56px;
            vertical-align: middle;
            border-bottom: 1px solid #f0f0f0;
            padding-top: 2px;
            padding-right: 10px;
            .message-avatar {
                padding-top: 5px;
            }
            &:hover {
                cursor: pointer;
                border-right: 4px solid rgb(24, 144, 255);
            }
            &.active {
                border-right: 4px solid rgb(24, 144, 255);
            }
            .item-seperate {
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 0;
                height: 2px;
                color: rgb(24, 144, 255);
            }

            .message-text {
                padding-left: 10px;
                width: 90%;
                .title {
                    font-weight: 600;

                }
                .last-message {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 14px;
                    color: #9e9c9c;
                    text-overflow: ellipsis;
                }
            }
            .ant-image {
               width: 32px;
               height: 32px;
               img {
                border-radius: 50%;
                cursor: pointer;
               }
            }
        }
    }

    .wrap-message-detail {
        width: calc(100% - 300px);
        margin-left: 20px;
        .message-header-detail {
            width: 100%;
            height: $header-action-btnsize;
            background-color: #cccccc;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            .message-header-action {
                &:first-child {
                    width: 60px;
                    padding-left: 20px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;;
                }
                width: $header-action-btnsize;
                height: $header-action-btnsize;
                padding-left: 10px;
                padding-top: 5px;
                display: table;
                cursor: pointer;
                &:hover {
                    background-color: #a2a2a2;
                }
                span {
                    vertical-align: middle;
                }
            }
        }
    }
    
}